@import "../../../../styles/global.scss";

$colors: red, orange, yellow, green, blue, purple;
$repeat: 20;

.card {
  @include flex-row;

  position: relative;
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #fff;

  &:hover {
    transform: scale(1.02);
  }

  &__body {
    width: 60%;
    padding: 2rem;

    & > h2 {
      font-size: var(--heading-4);
    }

    & > p {
      font-size: var(--semi-small);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    @include desktop {
      & > h2 {
        font-size: var(--heading-3);
      }

      & > p {
        font-size: var(--medium);
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
      }
    }
  }
}

.logo {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: auto;
}

.imageContainer {
  @include flex-centered;

  height: 100%;
  width: 40%;
  border-radius: 1rem 0 0 1rem;
  padding: 2rem;

  & > img {
    height: 40%;
    width: auto;

    @include desktop {
      height: 50%;
    }
  }
}
