@import "./global.scss";

.app {
  @include flex-column;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #323232;
  padding: 3rem;
  gap: 4rem;
}

.body {
  @include flex-row;

  width: 100%;
  height: 100%;
  gap: 5rem;
}
