@import "../../../../styles/global.scss";

.input {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 2rem;
  font-size: var(--normal);
  outline: none;
  transition: all 0.2s ease-in-out;

  &:focus {
    border: 0.2rem solid #fff;
  }

  @include desktop {
    width: 25%;
  }
}
