@import "../../../../styles/global.scss";

.cardInfo {
  @include flex-column;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: scroll;

  &__body {
    @include flex-column;

    width: 100%;
    height: 100%;
    padding: 3rem;
    padding-bottom: 5rem;
    gap: 3rem;

    & > h2 {
      width: 100%;
      text-align: center;
    }
  }

  @include desktop {
    position: relative;
    border-radius: 2rem 2rem 0 0;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}

.imageContainer {
  @include flex-centered;

  min-height: 35rem;
  height: 35rem;
  width: 100%;

  & > img {
    height: 60%;
    width: auto;
  }

  @include desktop {
    border-radius: 2rem 2rem 0 0;
  }
}

.gameWrapper {
  @include flex-row;
  gap: 3rem;
}
.contentHeaders {
  @include flex-row;

  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.header,
.headerActive {
  font-size: var(--normal);
  font-weight: var(--weight-medium);
  font-family: "Orbitron", sans-serif;
  position: relative;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.headerActive::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: lightcoral;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}

.infoContent {
  @include flex-column;

  width: 100%;
  height: 100%;
  gap: 2rem;
}

.label {
  font-weight: var(--weight-medium);
}

.value {
  font-weight: var(--weight-light);
  font-size: var(--medium);
}

.contentWrap {
  @include flex-column;
  gap: 2rem;
}

.typeWrapper {
  @include flex-row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.typeBase {
  @include flex-centered;

  color: #fff;
  padding: 1rem;
  width: fit-content;
  border-radius: 0.5rem;
  align-self: center;
}

.red {
  background-color: #f44336;
}

.yellow {
  background-color: #ff9800;
}

.green {
  background-color: #4caf50;
}

.blue {
  background-color: #2196f3;
}

.blueLight {
  background-color: #5fc5f5;
}

.purple {
  background-color: #9c27b0;
}

.purpleLight {
  background-color: #ab47bc;
}

.orange {
  background-color: #ff5722;
}

.pink {
  background-color: #e91e63;
}

.grey {
  background-color: #9e9e9e;
}

.aqua {
  background-color: #00bcd4;
}
