@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
